
<div class="alert alert-<%= type %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times-circle"></i></button>
    <strong><i class="icon fas fa-check"></i><%= message %></strong>
</div>