

<% 

   const page       =    "items";
        const linkPrefix = `${systemConfig.prefix_admin}/${page}/`;

    filterStatusHelper = (statusFilter, keyword) => {
        let XHTMLStatusFilter = ""
        if (keyword !== "") { 
            statusFilter.forEach( (status) => { 
                XHTMLStatusFilter += `<a href="${linkPrefix}${status.value}/?keyword=${keyword}" class="mr-1 btn btn-sm text-dark text-bold ${status.class}">${status.name.toUpperCase()} <span class="text-dark">(${status.count}</span>)</a>`;
                  
            }) ;
        }else{
            statusFilter.forEach( (status) => { 
                XHTMLStatusFilter += `<a href="${linkPrefix}${status.value}" class="mr-1 btn btn-sm text-dark text-bold ${status.class}">${status.name.toUpperCase()} <span class="text-dark">(${status.count}</span>)</a>`;
                  
            }) ;
        }
        return XHTMLStatusFilter;
    }
%>